* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 15px;
  background-color: rgb(6, 137, 197);
}

.header_nav {
  display: flex;
  justify-content: center;
}

.header_nav a:not(:last-child) {
  margin-right: 20px;
}

.header_nav a {
  font-size: 18px;
  text-transform: uppercase;
}